#intro {
  color: rgb(23, 156, 156);
}

body {
  background-color: rgb(255, 245, 251);
}

h1 {
  color: rgb(20, 129, 172);
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}